<script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" async="" src="./js/jquery.githubRepoWidget.custom.js"></script>

{% if site.blogfeed %}
	<script  type="text/javascript">
	(function() {
		
		$.get("{{site.blogfeed}}", function (data) {
			$(data).find("entry").each(function () { // or "item" or whatever suits your feed
        			var el = $(this);
        			console.log("------------------------");
        			console.log("title      : " + el.find("link").text());
        			console.log("author     : " + el.find("title").text());
    			});
		},
     		"jsonp");
	})();
	</script>
{% endif %}
