<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Student Assistant working since 6 years at University Library at Freie Universität Berlin and studying physics.
			I am experienced in scientific modeling and data analysis. <br>
			I have a good knowledge of Python, C and Mathematica and have worked with SVN, Git and Gradle. I am experienced in Kotlin, Java, JavaScript, C# 
and unit testing.
			I enjoy programming with a focus on good development practices, automation and a minimal footprint. <br>
			I have also gained experience and knowledge of other technologies from several side projects and research that I have undertaken in my free time, 
including Machine Learning and Android Development.

		</div>
		<br>
	</div>
</div>
